body {
  background-image: url("background.png");
  margin-right:0px;
  margin-left:0px;
}

header{
  background-color:white;
  font-size:14px;

}


.header-top-flex{
  display:flex;
  align-items: center;
  box-sizing: border-box;
  font-family: "Source Sans Pro","Lucida Grande";
  padding:8px 32px;
  border-bottom:1px solid rgb(218, 218, 218);
  max-width: 1536px;
}

.header-icon{
  font-size:20px;
  box-sizing: border-box;
  padding-right:16px;

}

.header-logo{
  text-align:left;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Poppoms";
  font-size:14px;
  font-stretch: 100%;
  margin-right: auto;
  padding:1px 6px;
}

.header-icon:hover{
  color:gray;
}

.header-logo:hover{
  color:gray;
}


.right-header{
  font-weight: bolder;
  display: flex;
  flex-wrap: wrap;
  margin:0px;
}
.header-menu{
  padding:13px;
   margin-right:10px; 
}

.header-menu:hover{
  color:gray;
}

.header-bottom{
  padding:10px 0px;
}

.header-bottom-flex{
  display: flex;
  flex-wrap: wrap;
  max-width:1536px;
  font-family:"Source Sans Pro","Lucida Grande";
  margin:0px;
  padding:0px 32px;
  text-align:left;
  text-size-adjust: 100%;
}
header-item{
   padding:3px;
   margin-right:10px;
}

.npm-logo{
  color:rgb(35, 31, 32);
  margin: 12px 32px 0px 0px;
  padding: 8px 0px 0px ;
  font-weight: 700;
  height:1px;
  
}
.search-box{
  padding:8px 0px;
  position: relative;
}

.header-item:hover{
  color: gray;
}
.serarch-left{
   background-color:rgb(242, 242, 242);

}

.search-left-flex{
  display:flex ;
}


.mark {
  padding-top:8px;
  margin:6px 4px 0px 16px;
}
  h1{
    display: inline;
    margin:0px;
  }

.npm-logo{
  margin:16px 32px 0px 0px ;
  padding:8px;

}

input{
  background-color:rgba(0, 0, 0, 0);
  border:none;
  margin:0px;
  padding:1px 2px 1px 10px;
  height:40px;
  font-weight: 300;
  text-align:start;

}
button{
  color:white;
  background-color:black;
  margin:0px;
  padding:10px 32px;
  border:none;
  font-size:14px;
  font-weight: 700;
  text-align:center;
  font-stretch: 100%;
  font-family: "Poppins";
}

.login{
  margin-left: 16px;
  padding:8px 0px;
  text-align:right ;
}
.login-flex{
  display: flex;
  align-items: center;
  font-weight:600;
  padding-left:16px;
  text-align: right;
}

 .SignUp{
  border:1px solid rgb(204, 204, 204);
  margin-right: 16px;
  padding:13px 28px;
  text-align: right;
  position: relative;
 }


li {
  list-style:none;
}

